/* General Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Navbar */
.custom-navbar {
    background-color: #1a1a1a;
    transition: all 0.3s ease;
}
.navbar-brand {
    color: #fff !important;
    font-size: 1.8rem;
    transition: transform 0.3s;
}
.navbar-brand:hover {
    transform: scale(1.1);
}
.custom-navlink {
    color: #bbb !important;
    margin: 0 10px;
    transition: color 0.3s;
}
.custom-navlink:hover {
    color: #fff !important;
}

